body {
    font-family: 'Poppins', sans-serif;
}


.background {

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

.sheet {
    width: 700px;
    height: 500px;
    display: flex;
    align-content: space-around;
    align-content: end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 94%);
    padding: 20px
}



.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 0px 80px 0px;
    padding: 50px;
}



button {
    width: 70px;
    height: 60px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: 0;
}



.date-inputs {
    display: flex;
    gap: 10px;

}

.date-input {
    display: flex;
    flex-direction: column;
}

.num {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: hsl(259, 100%, 65%);
    font-style: italic;
}



.lts {
    color: black;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.age-detail {
    font-size: 32px;
    display: flex;
    gap: 5px;
    align-items: flex-end;


}

.lts {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;

}

.button-calculator {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.date-input input {
    width: 80px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 20px;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.date-input label {
    font-size: 10px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: hsl(0, 1%, 44%);




}

.calculator-line {

    border: 0.5px solid hsl(0, 0%, 86%);
    width: 100%;
}

.calculator-line-parent {

    width: 100%;
    padding-top: 20px;

}